<div class="mt-4">
  <div class="row">

    {{#each books}}
      <div class="card" style="width: 16rem; margin-right: 20px;">
        <a href="/books/{{this.slug}}">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}" />
        </a>
        <div class="card-body">
          <a href="/books/{{this.slug}}"><h5
              class="card-title"
            >{{this.name}}</h5></a>
          <p class="card-text">{{this.description}}</p>
          <a href="#" class="btn btn-primary">Mua sách</a>
        </div>
      </div>
    {{else}}
      <td colspan="5" class="text-center">
        Bạn chưa đăng tải cuốn sách nào.
        <a href="#">Bấm vào đây để đăng sách mới</a>
      </td>
    {{/each}}

  </div>
</div>