<div class="mt-4">
  <div class="row">
    <div class="col-lg-3">
      <button class="btn btn-outline-success">MUA NGAY</button>
      <ul style="margin-top: 15px;">
        <li><p>Giá: {{book.price}} VND</p></li>
        <li><p>Số trang: {{book.page}}</p></li>
      </ul>
    </div>

    <div class="col-lg-3">
      <h2>{{book.name}}</h2>
      <img style="width: 300px; height: 300px" src="{{book.image}}" alt="" />
      <p>{{book.description}}</p>
    </div>
  </div>
</div>