<table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên sách</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Thời gian đăng tải</th>
    </tr>
  </thead>
  <tbody>
    {{#each books}}
      <tr>
        <th scope="row">{{ sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.updatedAt}}</td>
        <td>
            <a href="/books/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <a href="#" class="btn btn-link">Xóa</a>
        </td>
      </tr>
      {{else}}
      <td colspan="5" class="text-content">
        Bạn chưa đăng tải cuốn sách nào.
        <a href="#">Bấm vào đây để đăng sách
      </td>
    {{/each}}
  </tbody>
</table>