<table class="table mt-4">

  <div class="mt-4">
    <h3>Thùng rác của tôi</h3>
  </div>

  <thead class="thead-light">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên sách</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Thời gian xóa</th>
    </tr>
  </thead>
  <tbody>
    {{#each books}}
      <tr>
        <th scope="row">{{ sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
            <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-book-model">Xóa</a>
        </td>
      </tr>
      {{else}}
      <td colspan="5" class="text-content">
        Bạn chưa xóa cuốn sách nào.
        <a href="/me/stored/books">Nhấn để xem sách của tôi.
      </td>
    {{/each}}
  </tbody>
</table>

{{!-- Confirm delete --}}
<div id="delete-book-model" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thực hiện xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể phục hồi! Bạn có muốn xóa?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-book" type="button" class="btn btn-danger">Xác nhận xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- DELETE HIDDEN CONFIRM --}}
<form name="delete-book-form" method="POST"></form>
<form name="restore-book-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var bookId;
    var deleteForm = document.forms['delete-book-form'];
    var restoreForm = document.forms['restore-book-form'];
    var btnDeleteBook = document.querySelector('#btn-delete-book');
    var btnRestoreBook = $('.btn-restore');

    $('#delete-book-model').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      bookId = button.data('id');
    });

    btnDeleteBook.onclick = () => {
      deleteForm.action = '/books/' + bookId + '/force?_method=DELETE';
      deleteForm.submit();
    }

    btnRestoreBook.click(function(e) {
      e.preventDefault();
      var bookId = $(this).data('id');
      deleteForm.action = '/books/' + bookId + '/restore?_method=PATCH';
      deleteForm.submit();
    })

  })

  
</script>